body {
    /* background: burlywood */
    background-image: url(img/prog_wall.jpg);
    color: white;
}

.button {
    -webkit-appearence: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color:white;

    border: solid 2px white;
    padding: 10px;
    border-radius: 25px;
    background: rgb(0, 0, 48);
    max-width: 150px;
    max-height: 300px;
    margin-top: 10px;
}

#container {
    position: absolute;
    border: white 5px solid;
    border-radius: 25px;
    width: 50%;
    height: 95%;
    left: 25%;
    right:25%;
    text-align: center;
    overflow: auto;
}

#smallContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#title {
    position: flex;
    height: 100px;
    left: 30%;
    right:30%;
}

.date {
    text-transform: uppercase;
    font-weight: bold;
}

img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 5%;
    height: 100%;
}

h1 {
    margin-top: 10%;
    background: white;
    color: rgb(0, 0, 48);
}

@media (max-width: 300px) {
    h1 {
        font-size: 100%
    }
}